<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <a href="/">HOME</a>
    {{{body}}} 
  {{!-- !-- //like the Vue.js router view -- --}}
  </body>
</html>
